---
import { IconProjects } from '../icons/icons'
import { useTranslations } from '../../i18n/utils'
import ProjectsGallery from './ProjectsGallery.astro'

const { currentLocale = 'es' } = Astro

const t = useTranslations(currentLocale)
---

<section class='projects' id='projects'>
  <h2><IconProjects /> {t('title.projects')}</h2>
  <header class='projects__filter'><p>{t('projects.filter')}</p></header>
  <ProjectsGallery />
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .projects__filter {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 5px solid var(--sky-blue);
  }
</style>
