---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
---

<Layout title='Andino-Rodrigo | Portafolio'>
  <Header />
  <main>
    <h1>portafolio</h1>
  </main>
</Layout>

<style></style>
