---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
import Bento from '../../components/Bento.astro'
---

<Layout title='Andino-Rodrigo | Portafolio'>
  <Header />
  <main>
    <Bento />
  </main>
</Layout>
