---
import {
  IconGitHub,
  IconInstagram,
  IconLinkedIn,
  IconTwitter,
  IconArgentina,
  IconStar
} from './icons/icons'
---

<section class='bento'>
  <article class='bento_1 bento-item'>
    <header class='bento_1-header'>
      <h1>ANDINO RODRIGO AGUSTÍN</h1>
      <span>Full Stack Developer</span>
    </header>
    <p>
      En búsqueda de oportunidades para mejorar y crecer profesionalmente.
      Dispuesto a enfrentar nuevos desafíos y llevar proyectos web emocionantes
      al siguiente nivel.
    </p>
    <footer class='bento_1-footer'>
      <nav class='footer__nav'>
        <a
          class='footer__item'
          href='#'
          target='_blank'
          rel='noopener noreferrer'
        >
          <IconGitHub />
        </a>
        <a
          class='footer__item'
          href='#'
          target='_blank'
          rel='noopener noreferrer'
        >
          <IconLinkedIn />
        </a>
        <a
          class='footer__item'
          href='#'
          target='_blank'
          rel='noopener noreferrer'
        >
          <IconTwitter />
        </a>
        <a
          class='footer__item'
          href='#'
          target='_blank'
          rel='noopener noreferrer'
        >
          <IconInstagram />
        </a>
      </nav>
    </footer>
  </article>
  <article class='bento_2 bento-item'></article>
  <article class='bento_3 bento-item'>
    <button class='bento_3-button'>
      <svg
        class='beno_3-icon'
        viewBox='0 0 21 21'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          opacity='0.5'
          d='M5.67514 15.6194L5.32158 15.2659L16.097 4.49043L16.4506 4.84399L5.67514 15.6194Z'
          stroke='currentColor'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
        <path
          d='M16.5641 12.8623L16.6274 4.31369L8.0788 4.37701'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
      </svg>
      <strong>CV</strong>
      <span>Descargar</span>
    </button>
  </article>
  <article class='bento_4 bento-item'></article>
  <article class='bento_5 bento-item'>
    <div>
      <strong>ARGENTINA</strong>
      <IconArgentina />
    </div>
    <div>
      <IconStar />
      <IconStar />
      <IconStar />
    </div>
  </article>
  <article class='bento_6 bento-item'></article>
  <article class='bento_7 bento-item'>
    <blockquote>
      <p>
        “Hay que trabajar, hay que aprender, hay que comer, hay que descansar, y
        también hay que jugar”
      </p>
      <cite>Maestro Roshi</cite>
    </blockquote>
    <svg
      class='bento_7-icon'
      viewBox='0 0 47 53'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <g clip-path='url(#clip0_156_546)'>
        <path
          d='M42.3038 3.27005H30.6338C28.2177 3.27005 26.2575 5.46711 26.2575 8.17511V21.2553C26.2575 23.9633 28.2177 26.1603 30.6338 26.1603H37.9276V32.7004C37.9276 36.3077 35.3109 39.2405 32.0926 39.2405H31.3632C30.1506 39.2405 29.175 40.3339 29.175 41.693V46.5981C29.175 47.9572 30.1506 49.0506 31.3632 49.0506H32.0926C40.1522 49.0506 46.6801 41.7339 46.6801 32.7004V8.17511C46.6801 5.46711 44.7199 3.27005 42.3038 3.27005ZM16.0463 3.27005H4.37626C1.9602 3.27005 0 5.46711 0 8.17511V21.2553C0 23.9633 1.9602 26.1603 4.37626 26.1603H11.67V32.7004C11.67 36.3077 9.05338 39.2405 5.83501 39.2405H5.10563C3.89305 39.2405 2.9175 40.3339 2.9175 41.693V46.5981C2.9175 47.9572 3.89305 49.0506 5.10563 49.0506H5.83501C13.8946 49.0506 20.4225 41.7339 20.4225 32.7004V8.17511C20.4225 5.46711 18.4623 3.27005 16.0463 3.27005Z'
          fill='#A6D1E6'></path>
      </g>
      <defs>
        <clipPath id='clip0_156_546'>
          <rect width='46.6801' height='52.3207' fill='white'></rect>
        </clipPath>
      </defs>
    </svg>
  </article>
  <article class='bento_8 bento-item'>
    <time id='hour'>hour</time>
    <time id='day'>day</time>
    <time id='date'>date</time>
  </article>
  <article class='bento_9 bento-item'>
    <img
      class='bento_9-img-dark bento_9-img'
      src='/img/star-wars-dark.webp'
      alt='star wars dark'
    />
    <img
      class='bento_9-img-light bento_9-img'
      src='/img/star-wars-light.webp'
      alt='star wars light'
    />
  </article>
</section>

<script>
  import time from './dom/time.js'
  time()
</script>

<style>
  .bento {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .bento-item {
    border: 5px solid var(--dark-background);
    border-radius: var(--border-radius);
    background: linear-gradient(
      180deg,
      var(--dark-blue) 32.81%,
      var(--black) 100%
    );
    box-shadow: var(--shadow-elevation-medium);
  }

  .bento_1 {
    grid-area: 1 / 1 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }
  .bento_2 {
    grid-area: 1 / 5 / 3 / 7;
  }
  .bento_3 {
    grid-area: 3 / 1 / 5 / 3;
  }
  .bento_4 {
    grid-area: 3 / 3 / 5 / 5;
  }
  .bento_5 {
    grid-area: 3 / 5 / 4 / 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bento_6 {
    grid-area: 4 / 5 / 7 / 7;
  }
  .bento_7 {
    grid-area: 5 / 1 / 7 / 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bento_8 {
    grid-area: 5 / 4 / 6 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
  }

  .bento_9 {
    grid-area: 6 / 4 / 7 / 5;
  }

  .bento_1-header {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .bento_1-header h1 {
    font-size: var(--step-3);
    font-weight: 700;
    color: var(--white);
  }

  .bento_1-header span {
    font-size: var(--step-2);
    font-weight: 600;
    color: var(--light-blue);
  }

  .bento_1 p {
    font-size: var(--step--1);
    font-weight: 400;
    color: var(--white);
  }

  .bento_1-footer {
    padding: 0;
  }

  .footer__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    opacity: 0.6;
  }

  .footer__item {
    color: var(--white);
    scale: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__item:hover {
    color: var(--light-blue);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  .bento_3-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .beno_3-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    color: var(--light-blue);
    transition: all 0.3s ease-in-out;
  }

  .bento_3-button:hover .beno_3-icon {
    transform: translateX(3px) translateY(-3px);
  }

  .bento_3 strong {
    font-size: calc(var(--step-5) * 1.5);
    font-weight: 800;
    color: var(--light-blue);
    line-height: 1;
  }

  .bento_3 span {
    font-size: var(--step-2);
    font-weight: 600;
    color: var(--white);
    line-height: 1;
  }

  .bento_5 div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .bento_5 strong {
    font-size: var(--step-2);
    font-weight: 600;
    color: var(--white);
  }

  .bento_7 blockquote {
    font-size: var(--step-1);
    font-weight: 400;
    color: var(--white);
    text-align: center;
    line-height: 1.5;
  }

  .bento_7 cite {
    font-size: var(--step-1);
    font-weight: 600;
    color: var(--light-blue);
    text-align: center;
    line-height: 1.5;
  }

  .bento_7-icon {
    width: 2rem;
    height: 2rem;
    color: var(--light-blue);

    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .bento_8 time {
    font-size: var(--step--2);
    font-weight: 600;
    color: var(--light-blue);
  }

  .bento_8 time:first-child {
    font-size: var(--step-1);
    font-weight: 700;
    color: var(--white);
  }

  .bento_9-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .hidden {
    display: none;
  }
</style>
