---
import { IconContact } from './icons/icons'
import { useTranslations } from '../i18n/utils'
import { IconWhatsApp, IconGmail } from './icons/icons'

const { currentLocale = 'es' } = Astro

const t = useTranslations(currentLocale)
---

<section id='contact'>
  <h2><IconContact /> {t('title.contact')}</h2>
  <article class='contact__container'>
    <div class='contact__container-info'>
      <div class='container__info'>
        <p class='info__text'>
          {t('contact.paragraph.1')}
        </p>
        <p class='info__text'>
          {t('contact.paragraph.2')}
        </p>
        <p class='info__text'>
          {t('contact.paragraph.3')}
        </p>
      </div>

      <nav class='info__contact'>
        <a href='tel:+51 3571316384' rel='noopener noreferrer'>
          <IconWhatsApp /> +51 3571316384
        </a>
        <a href='mailto:andinorodrigo03@gmail.com' rel='noopener noreferrer'>
          <IconGmail /> andinorodrigo03@gmail.com
        </a>

        <button class='contact__btn'>{t('contact.btn')}</button>
      </nav>
    </div>
    <div class='contact__img'>
      <img src='/img/contact-img.webp' alt='contact-img' loading='lazy' />
    </div>
  </article>
</section>

<style>
  .contact__container {
    display: flex;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    gap: 2rem;
  }

  .contact__container-info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .container__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .contact__img {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }

  .contact__img img {
    width: max-content;
    height: 100%;
    max-height: 600px;
    object-fit: contain;
  }

  .info__text {
    font-size: var(--step-0);
    text-wrap: balance;
    line-height: 1.5rem;
    color: var(--white);
  }

  .info__contact {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .info__contact a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: var(--step-0);
    color: var(--white);
    text-decoration: none;
  }

  .info__contact a:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }

  .contact__btn {
    max-width: 20rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
    border-radius: var(--border-radius);
    background-color: var(--white);
    border: none;
    cursor: pointer;
    color: var(--black);
    font-size: var(--step--1);
    font-weight: 700;
  }

  .contact__btn:hover {
    background-color: var(--light-blue);
    text-decoration: underline;
    text-decoration-color: var(--black);
    transition: all 0.3s ease-in-out;
    box-shadow: var(--shadow-elevation-medium);
  }

  @media (max-width: 644px) {
    .contact__container {
      padding: 2rem 0;
      flex-direction: column;
      gap: 1.5rem;
    }

    .contact__container-info {
      width: 100%;
    }

    .contact__img {
      width: 100%;
      justify-content: center;
    }

    .contact__img img {
      width: 100%;
      height: 100%;
      max-height: 400px;
      object-fit: contain;
    }
  }

  @media (max-width: 400px) {
    .info__contact a {
      text-wrap: balance;
      word-break: break-all;
      gap: 0.25rem;
    }
  }
</style>
