---
import { useTranslations, getLangFromUrl } from '../i18n/utils'
import { IconLogo, IconLanguage, IconMoon } from './icons/icons'

const lang = getLangFromUrl(Astro.url)

const t = useTranslations(lang)

const changeLang = lang === 'en' ? '' : 'en'
---

<header class='header'>
  <a href='#' class='header__logo'>
    <IconLogo />
  </a>
  <nav class='header__nav'>
    <ul class='nav__lists'>
      <li class='list'><a href='#'>{t('nav.home')}</a></li>
      <li class='list'><a href='#'>{t('nav.skills')}</a></li>
      <li class='list'><a href='#'>{t('nav.projects')}</a></li>
      <li class='list'><a href='#'>{t('nav.contact')}</a></li>
    </ul>
  </nav>
  <div class='header__utils'>
    <a href={`/${changeLang}`} class='utils__button'>
      <IconLanguage />
    </a>
    <button class='utils__button'>
      <IconMoon />
    </button>
  </div>
</header>

<style>
  .header {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo,
  .header__utils {
    width: 20%;
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header__logo {
    justify-content: flex-start;
  }

  .header__utils {
    justify-content: flex-end;
    gap: 10px;
  }

  .header__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__lists {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--step-0);
    font-weight: 400;
  }

  .list a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--sky-blue);
    transition: width 0.2s;
  }

  .list a:hover:after {
    width: 100%;
  }

  .utils__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
</style>
