---
import {
  IconHouse,
  IconExperience,
  IconProjects,
  IconContact,
  IconLanguageNav,
  IconLanguageNavLight,
  IconMoonNav,
  IconSunNav
} from './icons/icons'

const { currentLocale = 'es' } = Astro
const changeLang = currentLocale === 'en' ? '' : 'en'
---

<nav class='nav' id='nav' data-theme='light'>
  <ul class='nav__list'>
    <li>
      <a href='#home' class='item'>
        <IconHouse />
      </a>
    </li>
    <li>
      <a href='#experience' class='item'>
        <IconExperience />
      </a>
    </li>
    <li>
      <a href='#projects' class='item'>
        <IconProjects />
      </a>
    </li>
    <li>
      <a href='#contact' class='item'>
        <IconContact />
      </a>
    </li>
  </ul>
  <div class='nav__list'>
    <a href={`/${changeLang}`} class='utils__button'>
      <IconLanguageNav />
      <IconLanguageNavLight />
    </a>

    <button class='utils__button' btn-switch-theme>
      <IconMoonNav />
      <IconSunNav />
    </button>
  </div>
</nav>

<style>
  .nav {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    width: 420px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--sky-blue-transparent);
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    z-index: 100;

    animation: fadeIn linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;

    box-shadow: var(--shadow-elevation-medium);
  }

  @keyframes fadeIn {
    to {
      transform: translateX(-50%) translateY(0);
    }
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1.2rem;
  }

  .item {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
  }

  .item:hover {
    box-shadow: var(--shadow-elevation-medium);
  }

  .nav__list:last-child {
    gap: 0.7rem;
  }

  .utils__button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease-in-out;
  }

  .utils__button:hover {
    transform: scale(1.1);
  }

  [data-theme='dark'] {
    .icon-language-nav-light {
      display: none;
    }

    .icon-sun-nav {
      display: none;
    }
  }

  [data-theme='light'] {
    .icon-language-nav {
      display: none;
    }

    .icon-moon-nav {
      display: none;
    }

    .item {
      color: var(--light-blue);
    }
  }
</style>
