---
import { useTranslations } from '../i18n/utils'

const { currentLocale = 'es' } = Astro

const t = useTranslations(currentLocale)
---

<section>
  <h2>{t('title.projects')}</h2>
  <div>filtro</div>
  <article>proyectos</article>
</section>
