---
import { useTranslations } from '../i18n/utils'

const { currentLocale = 'es' } = Astro

const t = useTranslations(currentLocale)
---

<section class='skills'>
  <h2>{t('title.skills')}</h2>
  <div class='btn__container'>
    <button class='skills__btn'>Todos</button>
    <button class='skills__btn active'>Front-End Development</button>
    <button class='skills__btn'>Back-End Development</button>
    <button class='skills__btn'>Databases</button>
    <button class='skills__btn'>Otros</button>
  </div>
  <article class='skills_container'>Tecnologías</article>
</section>

<style>
  .skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .btn__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: 1px solid var(--sky-blue);
    box-shadow: var(--shadow-elevation-medium);
  }

  .skills__btn {
    padding: 0.5rem 1rem 0 1rem;
    border-radius: 5px;
    color: var(--white);
    font-size: var(--step-0);
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .skills__btn:hover {
    color: var(--light-blue);
    transition: all 0.3s ease-in-out;
  }

  .active {
    color: var(--light-blue);
    font-size: var(--step-1);
    font-weight: 700;
  }

  .skills_container {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
</style>
