---
import Layout from '../../layouts/Layout.astro'
import Header from '../Header.astro'
import Bento from '../Bento.astro'
import Experience from '../Experience.astro'
import Projects from '../Projects/Projects.astro'
import Skills from '../Skills.astro'
import Contact from '../Contact.astro'
import Footer from '../Footer.astro'
import Nav from '../Nav.astro'

const { currentLocale = 'es' } = Astro

const locales = {
  es: {
    title:
      'Rodrigo Andino | Desarrollador Full Stack | React, TypeScript, Java',
    description:
      'Desarrollador Full Stack con experiencia en React, TypeScript, Next.js y Spring Boot. Especializado en crear aplicaciones web modernas y escalables. Más de 1 año de experiencia en desarrollo web y soluciones tecnológicas innovadoras.'
  },
  en: {
    title: 'Rodrigo Andino | Full Stack Developer | React, TypeScript, Java',
    description:
      'Full Stack Developer specialized in React, TypeScript, Next.js and Spring Boot. Expert in building modern and scalable web applications. Over 1 year of experience in web development and innovative technological solutions.'
  }
}
---

<Layout
  title={locales[currentLocale].title}
  description={locales[currentLocale].description}
>
  <Header />
  <main>
    <Bento />
    <Experience />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <Nav />
  <Footer />
</Layout>
