---
import Layout from '../../layouts/Layout.astro'
import Header from '../Header.astro'
import Bento from '../Bento.astro'
import Experience from '../Experience.astro'
import Projects from '../Projects/Projects.astro'
import Skills from '../Skills.astro'
import Contact from '../Contact.astro'
import Footer from '../Footer.astro'
import Nav from '../Nav.astro'
---

<Layout title='Andino-Rodrigo | Portafolio'>
  <Header />
  <main>
    <Bento />
    <Experience />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <Nav />
  <Footer />
</Layout>
